.part1_1{
    color: red;
}

.part1_2{
    background-color: black;
    color: white;
}

.part2_1{
    color: green;
}

.part2_2{
    background-color: darkred;
    color: green;
}

.part3{
    color: green;
}

.part4_1{
    color: green;
}